<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

    <body>
        <h1>Selamat Datang Admin!</h1>
        <table>
            <tr>
                <th>Email</th>
                <th>Hapus</th>
            </tr>
            <% for (let i=0; i < users.length; i++) { %>
                <tr>
                    <td>
                        <%= users[i].email %>
                    </td>
                    <td><a href="/admin/delete/ <%= users[i].id %>">Hapus</a></td>
                </tr>
                <% } %>
        </table>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
        </form>
        <%- include('./partials/footer.ejs'); %>
    </body>

</html>