<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

    <body>
        <h1>Halo Para Karyawan!</h1>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
        </form>
        <%- include('./partials/footer.ejs'); %>
    </body>

</html>