<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

    <body>
        <h1>Maaf, Anda tidak memiliki akses di halaman ini</h1>
        <%- include('./partials/footer.ejs'); %>
    </body>

</html>