<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

    <body>
        <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
            <h1 style="margin-bottom: 20px;">Selamat Datang</h1>
            <div class="d-flex gap-3">
                <a class="btn btn-outline-primary" href="/login">Masuk</a>
                <a class="btn btn-primary" href="/register">Daftar</a>
            </div>
        </div>
        <%- include('./partials/footer.ejs'); %>
    </body>

</html>