<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

    <body>
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="card">
                <div class="card-body">
                    <h1>Login</h1>
                    <p>Silahkan masukkan Email dan Password yang terdaftar</p>
                    <form method="post" action="/login" id="login-form">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9" style="margin-bottom: 10px;">
                                <input name="username" type="email" class="form-control" id="inputPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9" style="margin-bottom: 22px;">
                                <input name="password" type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>
                        <input style="margin-bottom: 12px;" type="submit" name="login" value="Masuk" class="btn btn-primary float-end">
                    </form>
                    <p style="margin-top: 10px; margin-bottom: 3px;" class="float-start">Belum punya akun? <a href="/register">Daftar</a></p>
                </div>
            </div>
            <%- include('./partials/footer.ejs'); %>
        </div>
    </body>

</html>