<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

    <body>
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="card">
                <div class="card-body">
                    <h1>Register</h1>
                    <p>Silahkan lengkapi data berikut ini</p>
                    <form method="post" action="/register" id="register-form">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input name="email" type="email" class="form-control" id="inputPassword">
                                <p style="margin-top: 5px; font-size: 14px">Contoh: nama@mail.com</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-8">
                                <input name="password" type="password" class="form-control" id="inputPassword">
                                <p style="margin-top: 5px; font-size: 14px">Contoh: nama_kamu123</p>
                            </div>
                        </div>
                        <input style="margin-bottom: 12px;" type="submit" name="login" value="Daftar" class="btn btn-primary float-end">
                    </form>
                    <p style="margin-top: 10px; margin-bottom: 3px;" class="float-start">Sudah punya akun? <a href="/login">Masuk</a></p>
                </div>
            </div>
            <%- include('./partials/footer.ejs'); %>
        </div>
    </body>

</html>